
<div class="alert alert-info">You just added these restaurants to <%=@source.name%>!
  If any locations are incorrect please edit the menu links.</div>
  <table class="table">
    <tr>
      <% @headers.each do |head| %>
        <th><%= head %></th>
      <% end %>
    </tr>
  <form action="/correct-list" method ="post">
    <input type="hidden" name="source" value="<%=@source.id%>">
    <% @restaurant_list.each do |rest| %>
    <tr>
      <td><a href = '/rest_page/<%= rest.slug %>'><%=rest.name %></a></td>
      <td>
        <% rest.cuisines.uniq.each do |cuisine| %>
          <a href = '/cuisine/<%= cuisine.slug%>'><%= cuisine.name %>
          <br>
        <% end %>
      </td>
      <% if @headers.include?("Neighborhood") %>
        <td><%if rest.neighborhood %>
          <a href = '/neighborhood/<%= rest.neighborhood.id %>'><%= rest.neighborhood.name %>
          <%end%></td>
      <% end %>
      <td><input type="text" name="links[<%=rest.id%>]"></td>
      <td><input type="checkbox" name="new_loc[<%=rest.id%>]>"></td>
    <% end %>
  </table>
  <input type="submit" value="Edit/Confirm">
</form>

