
<h2><%= @user.name %></h2>

<h2>Add restaurants</h2>

<br/>
  <form action = "/entry" method ="post">
    <label for="source_name">Choose List to Add to:</label>
    <select name="source[id]">
      <% @user.owned_lists.concat(@user.joint_lists).each do |source| %>
        <option value = "<%= source.id %>"><%=source.name%></option>
        <% end %>
      <option value = "No List">(No List)</option>
      <option value = "New List">(Create New List)</option>
    </select>
    <label for="new_source_name">Name of New List:</label>
    <input id="new_source_name" name="new_source_name" type="text">
    <br>
    Restaurants to Add:
    <br>
    <% 10.times do |n| %>
      <input id="<%= "restaurant[#{n}]" %>" name="<%= "restaurant[#{n}]" %>" type="text">
      <br>
    <% end %>
    <input type="submit" value="Enter!"/>
  </form>



