<h2>Edit <%= @restaurant.name %></h2>

<form  action = "/edit/<%= @restaurant.slug %>" method ="post"> 
    <div class="row">
    <div class="span3">
    <h4>Include in lists:</h4>
    <% @user.editable_lists.each do |source| %>
    <label class="checkbox" for="<%= source.id %>"><input id="<%= source.id %>" name="sources[<%=source.id%>]" type="checkbox" 
        <%if @restaurant.sources.include?(source)%>
        checked
        <%end%> /><%=source.name %></label>
        <% end %>
    </div>
    <div class="span3 offset1">
        <h4>Notes</h4>
        <textarea id="notes" name="notes" rows="10"><%= @restaurant.display_note(@user)%></textarea>
         <input type="submit" class="btn btn-primary pull-right" value="Update">
    </div>
    </div>
       
    </form>
