
<h2><%= @title %></h2>

  <table> 
    <thead>
    <tr>
      <% @headers.each do |head| %>
        <th><%= head %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <form action="/update-links"
    <% @restaurant_list.each do |rest| %>
    <tr>
      <td><%=rest.name %></td>
      <td>
        <% rest.cuisines.uniq.each do |cuisine| %>
          <a href = '/cuisine/<%= cuisine.slug%>'><%= cuisine.name %>
          <br>
        <% end %>
      </td>
      <% if @headers.include?("Neighborhood") %>
        <td><%if rest.neighborhood %>
          <a href = '/neighborhood/<%= rest.neighborhood.id %>'><%= rest.neighborhood.name %>
            <%end%></td>
      <% end %>
      <td>
        <% rest.sources.each do |source| %>
          <% if @source_list.include?(source) && source.name != @title  %>
            <a href = '/source/<%=source.slug%>'><%=source.name %></a><br>
          <% end %>
        <% end %>
      </td>
      <td><%= rest.notes %></td>  
      <td><a href = '/edit/<%=rest.slug%>'>Edit</a></td>
      <td><a href = '/delete/<%=rest.slug%>'>Delete</a></td>  
    <% end %>
  </tbody>
  </table>

<script>
  $(function(){
  $("#list_table").tablesorter();
  });
</script>