
<h2><%= @user.name %>'s History</h2>
<% if flash[:message] %>
  <p class="text-message"><%= flash[:message] %></p>
<% end %>
<a href = '/log-mult-visits'>log visits</a>

  <table>
    <tr>
      <td>Restaurant</td>
      <td>Date Visited</td>
      <td>Notes</td>
    </tr>
    <% @user.visits.sort_by{|v| v.date}.reverse.each do |visit| %>
    <tr>
      <td><a href = '/rest_page/<%= visit.restaurant.slug %>'><%=visit.restaurant.name %></a></td>
      <td>
        <%= visit.date %>
      </td>
      <td>
        <%= visit.notes %>
      </td>
      <td>
        <a href = '/edit-visit/<%=visit.id%>'>Edit</a>
      </td>
    <% end %>
  </table>