
<h2><%= @user.name %>'s History</h2>
<% if flash[:edit] %>
  <div class="alert alert-info"><%= flash[:edit] %></div>
<% elsif flash[:add] %>
  <div class="alert alert-success"><%= flash[:add] %></div>
<% end %>
<a class="btn" href = '/log-mult-visits'>Log Visits</a>

  <table class="table">
    <tr>
      <th>Restaurant</th>
      <th>Date Visited</th>
      <th>Notes</th>
    </tr>
    <% @user.visits.sort_by{|v| v.date}.reverse.each do |visit| %>
    <tr>
      <td><a href = '/rest_page/<%= visit.restaurant.slug %>'><%=visit.restaurant.name %></a></td>
      <td>
        <%= visit.date %>
      </td>
      <td>
        <%= visit.notes %>
      </td>
      <td>
        <a href = '/edit-visit/<%=visit.id%>'>Edit</a>
      </td>
    <% end %>
  </table>