
<h2><%= @user.name %>'s History</h2>
<a href = '/log-mult-visits'>log visits</a>

  <table>
    <tr>
      <td>Restaurant</td>
      <td>Date Visited</td>
      <td>Notes</td>
    </tr>
    <% @user.visits.each do |visit| %>
    <tr>
      <td><a href = '/rest_page/<%= visit.restaurant.slug %>'><%=visit.restaurant.name %></a></td>
      <td>
        <%= visit.date %>
      </td>
      <td>
        <%= visit.notes %>
      </td>
    <% end %>
  </table>