<% if flash[:message] %>
<p class="text-message"><%= flash[:message] %></p>
<% end %>

<% if @friend_requests.size > 0 %>
  <h2>Friend Requests</h2>
  You've been friended by:
  <form action = '/accept-friendship' method = "post">
    <ul>
      <% @friend_requests.each do |fship| %>
      <li><label for="<%=fship.id%>"><%=fship.user.name%></label>
          <input id="<%=fship.id%>" type = "checkbox" name="friendship[<%=fship.id%>]">
      </li>
      <% end %>
    <ul><input type="submit" value="Accept Friend Requests"></ul>
  </form>
<% end %>


<h2>Restaurant Ideas</h2>
  <ul>
    <% @public_sources.each do |source| %>
    <li><a href='/list_by/source/<%= source.slug %>'><%= source.name %></a></li>
    <% end %>
  </ul>
