<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <link href="/css/bootstrap.css" rel = "stylesheet">
  <link href="/css/bootstrap.min.css" rel = "stylesheet">
  <!-- bootstrap widget theme only need this for a few pages.  Put it here?-->
  <link rel="stylesheet" href="/css/theme.bootstrap.css">
  <link rel="stylesheet" href="/css/hungry.css">
</head>
<body style="padding-top: 50px">

  <script type="text/javascript" src="/js/jquery-1.10.2.js"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
   <!-- works only WITHOUT min.js ??? -->
  <!-- tablesorter plugin -->
  <script src="/js/jquery.tablesorter.js"></script>
  <!-- tablesorter widget file - loaded after the plugin -->
  <script src="/js/jquery.tablesorter.widgets.js"></script>
   

  <div class="navbar navbar-fixed-top">
    <div class = "navbar-inner">
      <div class = "container">
        <a class="brand" href="/">
          <%= @title %>
        </a>
        <ul class="nav pull-right">
          <% if @user %>
          <li><a href="/user_history"><%=@user.name%>'s History</a></li>
          <li><a href="/entry">Add Restaurant</a></li>
          <% end %>
          <li class="dropdown">
            <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" href="#">Find By<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li class="dropdown-submenu"><a tabindex="-1" href="#">Lists</a>
                <ul class="dropdown-menu">
                  <% if @user %>
                    <% @user.owned_lists.each do |s| %>
                      <li><a href="/list_by/source/<%=s.slug%>"><%=s.name%></li>
                    <% end %>
                    <li class="divider"></li>
                    <% unless @user.joint_lists.size == 0 %>
                      <% @user.joint_lists.each do |s| %>
                        <li><a href="/list_by/source/<%=s.slug%>"><%=s.name%></li>
                      <% end %>
                      <li class="divider"></li>
                    <% end %>
                    <% unless @user.shared_lists.size == 0 %>
                      <% @user.shared_lists.each do |s| %>
                        <li><a href="/list_by/source/<%=s.slug%>"><%=s.name%></li>
                      <% end %>
                      <li class="divider"></li>
                      <%end%>
                  <% end %>
                  <% @public_sources.each do |s| %>
                    <li><a href="/list_by/source/<%=s.slug%>"><%=s.name%></li>
                  <% end %>
                </ul>
              </li>
              <li class="dropdown-submenu"><a tabindex="-1" href="#">Cuisine</a>
                <ul class="dropdown-menu">
                  <% Cuisine.order(:name).each do |c| %>
                  <li><a href="/list_by/cuisine/<%=c.slug%>"><%=c.name%></li>
                  <% end %>
                </ul>
              </li>
              <li class="dropdown-submenu"><a tabindex="-1" href="#">Neighborhood</a>
                <ul class="dropdown-menu">
                  <% Area.order(:name).each do |a| %>
                    <li><a href="/list_by/area/<%= a.slug %>"><%= a.name %></li>
                  <% end %>
                </ul>
              </li>
              <li><a tabindex="-1" href="/custom">Custom Search</a></li>
              <li class="divider"></li>
              <li><a tabindex="-1" href="/all">All Restaurants</a></li>
            </ul>
          </li>
          <li><form action = "/rest_page" method = "get" class="navbar-search pull-left">
              <input type="text" class="search-query" name="rest_name" placeholder="Search by Restaurant Name">
              </form>
          </li>
          <% if @user %>
            <li><a href="/logout">Log out</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>