
<h2><%= @heading %></h2>
<% if @list_generator.is_a?(Neighborhood) %>
  Do you want to see restaurants in the entire <a href="/list_by/area/<%= @list_generator.area.slug %>"><%= @list_generator.area.name %>?</a>
<% end %>
<% if @list_generator.is_a?(Source) %>
  <h4><%= @list_generator.description %></h4>
<% end %>
<% if @user.editable_lists.include?(@list_generator) %>
  <div class="btn-group">
    <a class="btn" href="/edit-list/<%=@list_generator.id%>">Edit this list</a>
    <% if @user.owned_lists.include?(@list_generator) %>
      <a class="btn" href="/share-list/<%=@list_generator.id%>">Share this list</a>
    <% end %>
  </div>
  <% end %>


  <table id="list_table" class="tablesorter table">
    <thead>
    <tr>
      <% @headers.each do |head| %>
        <th><%= head %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @restaurant_list.sort_by{|x|x.name}.each do |rest| %>
    <tr>
      <td><a href = '/rest_page/<%= rest.slug %>'><%=rest.name %></a></td>
      <td>
        <% rest.cuisines.uniq.each do |cuisine| %>
          <a href = '/list_by/cuisine/<%= cuisine.slug%>'><%= cuisine.name %>
          <br>
        <% end %>
      </td>
      <% if @headers.include?("Neighborhood") %>
        <td><%if rest.neighborhood %>
          <a href = '/list_by/neighborhood/<%= rest.neighborhood.slug %>'><%= rest.neighborhood.name %>
            <%end%></td>
      <% end %>
      <td>
        <% rest.sources.each do |source| %>
          <% if (source.public? || @user.sources.include?(source)) && source != @list_generator  %>
            <a href = '/list_by/source/<%=source.slug%>'><%=source.name %></a><br>
          <% end %>
        <% end %>
      </td>
      <td><%= rest.display_note(@user) %></td> 
    <% end %>
  </tbody>
  </table>

<script>
  $(function(){
  $("#list_table").tablesorter();
  });
</script>