
<h2><%= @title %></h2>
<% if @area %>
  Do you want to see restaurants in the entire <a href="/area/<%= @area %>"><%= @area %>?</a>
<% end %>
  <table id="list_table" class="tablesorter">
    <thead>
    <tr>
      <% @headers.each do |head| %>
        <th><%= head %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @restaurant_list.each do |rest| %>
    <tr>
      <td><a href = '/rest_page/<%= rest.slug %>'><%=rest.name %></a></td>
      <td>
        <% rest.cuisines.uniq.each do |cuisine| %>
          <a href = '/cuisine/<%= cuisine.slug%>'><%= cuisine.name %>
          <br>
        <% end %>
      </td>
      <% if @headers.include?("Neighborhood") %>
        <td><a href = '/neighborhood/<%= rest.neighborhood %>'><%= rest.neighborhood %></td>
      <% end %>
      <td>
        <% rest.sources.each do |source| %>
          <% if @source_list.include?(source) && source.name != @title  %>
            <a href = '/source/<%=source.slug%>'><%=source.name %></a><br>
          <% end %>
        <% end %>
      </td>
      <td><%= rest.notes %></td>  
      <td><a href = '/edit/<%=rest.slug%>'>Edit</a></td>
      <td><a href = '/delete/<%=rest.slug%>'>Delete</a></td>  
    <% end %>
  </tbody>
  </table>

<script>
  $(function(){
  $("#list_table").tablesorter();
  });
</script>