<h3>Share <%=@source.name%> with: </h3>

<form action="/share-list/<%=@source.id%>" method="post">
  <table class="table">
    <tr>
      <th>Friend</th>
      <th>Shared List</th>
      <th>Joint List</th>
      <th>No Permssions</th>
    </tr>
    <% @user.friend_list.each do |friend| %>
      <tr>
        <td><%=friend.name%></td>
        <td><input type="radio" name="friends[<%=friend.id%>]" value = "shared"
              <% if friend.shared_lists.include?(@source)  %>
              checked
              <%end%> >
        </td>
        <td><input type="radio" name="friends[<%=friend.id%>]" value = "joint"
              <% if friend.joint_lists.include?(@source)  %>
              checked
              <%end%> >
        </td>
        <td><input type="radio" name="friends[<%=friend.id%>]" value = "none"
              <% unless friend.sources.include?(@source)  %>
              checked
              <%end%> >
        </td>
      </tr>
    <% end %>
    </table>
    <input type="submit" value="Share">
</form>
